

.displayProduct {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    object-fit: cover;   
  }


.cardImage {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    object-fit: cover; 
    filter: brightness(0.45);
  
  }